<!-- _ingredient_form.html.erb -->
<%= form_with(model: @ingredient) do |form| %>
  <div class="modal-body">
    <!-- Ingredient Name Field -->
    <div class="form-group">
      <%= form.label :name, 'Ingredient Name' %>
      <%= form.text_field :name, class: 'form-control', placeholder: 'E.g., Apples, Potatoes', required: true %>
      <%= form.label :quantity, 'Quantity' %>
      <%= form.number_field :quantity, class: 'form-control', placeholder: 'E.g., 1, 2, 3', required: true %>
      <%= form.label :unit, 'Unit' %>
      <%= form.select :unit, Ingredient::UNITS, { include_blank: 'Select a unit' }, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="modal-footer">
    <!-- Submit Button -->
    <%= form.submit 'Save', class: 'btn btn-primary' %>
    <!-- Close Modal Button -->
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
<% end %>
