<!DOCTYPE html>
<html>
  <head>
    <title>Imp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="antialiased bg-gray-50 dark:bg-gray-900 w-screen">
      <nav class="bg-white border-b border-gray-200 px-4 py-2.5 dark:bg-gray-800 dark:border-gray-700 fixed left-0 right-0 top-0 z-50">
        <div class="flex flex-wrap justify-between items-center">
          <div class="flex justify-start items-center">
            <a href="https://flowbite.com" class="flex items-center justify-between mr-4">
              <img
                src="https://flowbite.s3.amazonaws.com/logo.svg"
                class="mr-3 h-8"
                alt="Flowbite Logo"
              />
              <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">IMP</span>
            </a>
          </div>
          <div class="flex items-center lg:order-2">
            <!-- Apps -->
            <button
              type="button"
              data-dropdown-toggle="apps-dropdown"
              class="p-2 text-gray-500 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
            >
              <span class="sr-only">View notifications</span>
              <!-- Icon -->
              <svg
                class="w-6 h-6"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
                ></path>
              </svg>
            </button>
          </div>
        </div>
      </nav>

      <!-- Sidebar -->
      <aside
      class="fixed top-0 left-0 z-40 w-64 h-screen pt-14 bg-white border-r border-gray-200 md:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
      aria-label="Sidenav"
      id="drawer-navigation"
      >
        <div class="overflow-y-auto py-5 px-3 h-full bg-white dark:bg-gray-800">
          <ul class="space-y-2">
            <li>
              <a
                href="#"
                class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
              >
                <%= render partial: "common/icons/storefront" %>
                <span class="ml-3">My Pantry</span>
              </a>
            </li>
            <li>
              <button
                type="button"
                class="flex items-center p-2 w-full text-base font-medium text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
              >
                <%= render partial: "common/icons/lists_clipboard" %>
                <span class="flex-1 ml-3 text-left whitespace-nowrap"
                  >Grocery Lists</span
                >
              </button>
            </li>
            <li>
              <button
                type="button"
                class="flex items-center p-2 w-full text-base font-medium text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
              >
                <%= render partial: "common/icons/queue_list" %>
                <span class="flex-1 ml-3 text-left whitespace-nowrap">
                  Recipes
                <span>
              </button>
            </li>
            <li>
              <button
                type="button"
                class="flex items-center p-2 w-full text-base font-medium text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
              >
                <%= render partial: "common/icons/list" %>
                <span class="flex-1 ml-3 text-left whitespace-nowrap">
                  All Ingredients
                <span>
              </button>
            </li>
          </ul>
        </div>
        <div
          class="hidden absolute bottom-0 left-0 justify-start p-4 space-x-4 w-full lg:flex bg-white dark:bg-gray-800 z-20"
        >
          <a
            href="#"
            data-tooltip-target="tooltip-settings"
            class="inline-flex justify-center p-2 text-white rounded cursor-pointer dark:text-gray-400 dark:hover:text-white hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-600"
          >
            <%= render partial: "common/icons/gear" %>
            <span class="flex-1 ml-3 text-left text-white font-medium whitespace-nowrap">
              Settings
            <span>
          </a>
        </div>
      </aside>

      <%# View Area %>
      <main class="p-8 ml-64 h-auto pt-20">
        <%= yield %>
      </main>
    </div>

  </body>
</html>
